.video-container {
  text-align: center;
  margin-bottom: 2rem;
}

.video-title {
  color: white;
  font-size: 2.3rem;
  width: 80%;
}

.video-container iframe {
  filter: hue-rotate(90deg);
}

.responsive-iframe {
  width: 850px;
  height: 478px;
}

.iframe-link {
  display: none;
}

.video-text {
  display: flex;
  align-items: center;
}

.play-button {
  margin-left: auto;
  margin-right: 10px;
  font-size: 24px;
  color: white;
  width: 24px; /* Explicit width */
  height: 24px; /* Explicit height */
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

@media (max-width: 850px) {
  .responsive-iframe {
    width: 400px;
    height: 225px;
  }
}

@media (max-width: 520px) {
  .responsive-iframe {
    display: none;
  }

  .iframe-link {
    display: block;
    text-decoration: none;
    padding: 0.6rem;
    background-color: transparent;
    border: 0.2rem solid var(--clr-5);
    border-radius: 0.6rem;
    text-align: left;
    margin: 1rem auto; /* Center the button horizontally */
    position: relative;
    max-width: 24rem;
  }

  .iframe-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(161, 3, 182, 0.8);
    z-index: -1;
  }

  .iframe-link:hover::before {
    width: 100%;
  }

  .video-title {
    font-size: 1.1rem;
  }
}
