@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;

  --clr-1: #ff007f;
  --clr-2: #ff00ff;
  --clr-3: #a103b6;
  --clr-4: #7f00ff;
  --clr-5: #00ffff;
  --clr-6: #00ff7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url("./assets/background2.png") no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  padding: 4rem 9% 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  color: var(--clr-5);
}

@media (max-width: 768px) {
  section {
    padding: 2rem 5% 1rem; /* Reduced padding for mobile */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes scrollText {
  0%,
  10% {
    transform: translateX(0); /* Pause at start */
  }
  50%,
  95% {
    transform: translateX(calc(-100% + 180px)); /* Scroll fully */
  }
  100% {
    transform: translateX(0); /* Reset to start */
  }
}

.animate-scroll {
  animation-timing-function: ease-in-out; /* Smooth start and end */
  animation-delay: 2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-top: 5px solid #c084fc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
