.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.shows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.shows .shows-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.shows-row .shows-column {
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.shows-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0rem;
  color: white;
}

.shows-column {
  /* border-left: 0.2rem solid var(--clr-5); */
}

.title {
  padding-top: 1rem;
}

.coming-soon {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
    45deg,
    var(--clr-5),
    var(--clr-6),
    var(--clr-5),
    var(--clr-6)
  );
  background-size: 400%;
  background-clip: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: rainbow 20s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
