.showbox {
  /* border-left: 0.2rem solid var(--clr-5); */
  margin-bottom: 1em;
}

.showbox .showbox-content {
  position: relative;
}

.showbox-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--clr-5);
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
  max-width: 100%; /* Ensures it doesn't exceed the parent container */
  width: auto; /* Adapts the width to the content up to max-width */
  overflow: hidden; /* Keeps all content within the borders */
  box-sizing: border-box; /* Includes padding and border in the width calculation */
}

.showbox-content .content .date {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  color: var(--clr-5);
}

.calendar-icon {
  padding-right: 0.5rem;
}

.showbox-content .content h3 {
  font-size: 1.5rem;
}

.showbox-content .content p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.showbox-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(161, 3, 182, 0.8);
  z-index: -1;
  transition: 0.5s;
}

.showbox-content .content:hover::before {
  width: 100%;
}
